# ===============================
# Video Compressor - .gitignore
# ===============================

# -------------------------------
# Python Cache
# -------------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------------
# Virtual Environment
# -------------------------------
env/
venv/
.venv/

# -------------------------------
# PyInstaller Build (temp files)
# -------------------------------
build/

# -------------------------------
# FFmpeg Binaries (too large ~200MB)
# -------------------------------
ffmpeg.exe
ffprobe.exe

# -------------------------------
# IDE / Editor
# -------------------------------
.idea/
.vscode/
*.swp
*.swo

# -------------------------------
# OS Generated
# -------------------------------
.DS_Store
Thumbs.db
desktop.ini

# -------------------------------
# Video Output Folder
# -------------------------------
Output/

# -------------------------------
# Temporary Files
# -------------------------------
*.tmp
*.temp
*.bak
*.log
